<div class="container">
  <div class="info-holder">
    <div class="log-head">
      <h2>Log In</h2>
      <form class="sign-in-form" ng-submit="vm.loginUser()">
        <input type="text" class="log-input" ng-model="vm.user.username" placeholder="username">
        <input type="password" class="log-input" ng-model="vm.user.password" placeholder="password">
        <button class="log-button" type="submit">Log In</button>
      </form>

      <h2>Sign Up</h2>
      <button class="log-button" ng-click="vm.addUserPage()">Sign Up</button>
    </div>
  </div>
