<h2>My Tasks</h2>

<button class="add-button" ng-click="vm.addTaskPage()">+</button>

<ul>
  <li class="task-item" ng-repeat="task in vm.tasks">
    <div class="task-info">
      <span class="task-name">{{task.name}}</span>
      <!-- <span class="task-description">{{task.description}}</span> -->
      <span class="task-date-due">{{task.date_due}}</span>
      <button class="remove-task-btn" ng-click="vm.removeTask(task.id)">X</button>
    </div>
  <div class ="task-status">
    <button ng-click="vm.changeStatus(task, 'to_do')">To Do</button>
    <button ng-click="vm.changeStatus(task, 'doing')">Doing</button>
    <button ng-click="vm.changeStatus(task, 'done')">Done</button>
  </div>
  </li>
</ul>

<button class="log-out-btn" ng-click="vm.logoutUser(user)">Log Out</button>
