$bg-color: white;
$fg-color: #8d9978;
$input-border-color: #bd987c;
$alt-bg-color: #e45264;

$bold-color: #E84E01;
$alt-bold-color: #4F9EE5;
$button-color: #535542;

$accent-color: #6067B0;
$accent-color-dark: #4d5196;
$alt-accent-bg: #54CC14;
$alt-accent-fg: #f8cece;
$alt-accent-bg-dark: #44B209;

$type-dark: black;
$type-light: #f9f9f7;
