/*------------------------------------*\
    #HEADER
\*------------------------------------*/


.app-header {
  font-family: $font1;
  text-align: center;
  margin: .5em 0 .0;
}

.root-content {
  @include pad(.1em);
}

/*------------------------------------*\
    #INPUTS
\*------------------------------------*/

.textarea {
  font-size:16px;
  border-color:#cccccc;
  border-style:solid;
  border-width:0px;
  box-shadow: 3px 3px 1px 0px
  rgba(173,173,173,.75);
  margin: .5em;
  padding: 0.5em 5.3em 0.5em .5em;
  }
    .textarea:focus { outline:none; }

.add {
  background-color: blue;
  font-size: 30pt;
  padding: 0 0.5em 0.5em;
  float: right;
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/

.main-nav-link {
  display: inline-block;
  padding: 1em 1em;
  color: inherit;
}

.main-nav-link:hover {
  background: $alt-accent-bg;
  color: $alt-accent-fg;
}

.main-nav-link.active {
  background: #4d5196;
}
