/*------------------------------------*\
#LOGIN
\*------------------------------------*/
.container {
  @include outer-container;
}
.info-holder {
  padding: 1em 0;
}
.log-head {
  @include span-columns(6);
  @include omega(3n);
  font-weight: $light;
  @include shift(3);
  @include pad(.5em);
  background-color: $alt-bg-color;
}
.log-button {
  @include span-columns(6);
  @include shift(3);
  @include pad();
  font-size: 16pt;
  font-family: $font1;
  float: none;
  background-color: $button-color;
  color: $type-light;
  font-weight: $light;
  margin-top: 0.5em;
}
.sign-in-form {
  @include pad();
}
.log-input {
  @include pad();
  @include outer-container;
  @include margin(.5em);
  min-width: 300px;
  font-family: $font1;
  font-size: 16px;
  border-color: $input-border-color;
  color: $type-dark;
  border-style: solid;
  border-width: 2px;
  box-shadow: 3px 3px 1px 0 rgba(173,173,173,.75);
  margin: 0.5em auto;
}
.log-input:focus {
  outline: none;
}
.add {
  background-color: blue;
  font-size: 30pt;
  padding: 0 0.5em 0.5em;
  float: right;
}
/*------------------------------------*\
#MEDIA-QUERIES
\*------------------------------------*/
// @media screen and (max-width:1129px) {
//   .container {
//     width: 100%;
//     @include outer-container;
//   }
//   .log-head {
//     @include outer-container;
//     @include span-columns(4);
//     @include omega(3n);
//     font-weight: $light;
//     @include shift(4);
//     @include pad(.5em);
//     background-color: $alt-bg-color;
//   }
//   .log-input {
//     @include pad();
//     @include fill-parent;
//     @include span-columns(3);
//     @include margin(.5em);
//     min-width: 300px;
//     font-family: $font1;
//     margin: 0.5em auto;
//   }
// }
// @media screen and (max-width:1044px) {
//   .log-input {
//     @include pad();
//     @include span-columns(3);
//     min-width: 200px;
//     @include outer-container;
//     margin: 0.5em auto;
//   }
// }
// @media screen and (max-width:822px) {
//   .log-input {
//     @include pad();
//     @include span-columns(3);
//     min-width: 150px;
//     @include outer-container;
//     margin: 0.5em auto;
//   }
// }
// @media screen and (max-width:540px) {
//   .container {
//     width: 100%;
//     @include outer-container;
//   }
//   .log-head {
//     @include span-columns(10);
//     @include outer-container;
//     @include omega(3n);
//     @include shift(1);
//     @include pad(.5em);
//   }
//   .log-input {
//     @include pad();
//     @include span-columns(8);
//     @include outer-container;
//     @include margin(.5em);
//     font-family: $font1;
//     font-size: 16px;
//     margin: 0.5em auto;
//   }
// }
/*------------------------------------*\
#DEVICE MEDIA-QUERIES
\*------------------------------------*/
/* Desktops and laptops ----------- */
@media screen and (max-width:1124px) {
  .container {
    width: 100%;
    @include outer-container;
  }
  .log-head {
    @include outer-container;
    @include span-columns(6);
    @include omega(3n);
    font-weight: $light;
    @include shift(3);
    @include pad(.5em);
    background-color: $alt-bg-color;
  }
  .log-input {
    @include pad();
    @include fill-parent;
    @include span-columns(3);
    @include margin(.5em);
    min-width: 300px;
    font-family: $font1;
    margin: 0.5em auto;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}



/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
