/*------------------------------------*\
    #TASK
\*------------------------------------*/

.task-item {
  @include pad();
}
.toolbar {
  background: #F4F4F4;
  padding: 1em;
  margin-bottom: 1.5em;
}

.main-nav {
  background: #6067b0;
  color: #FFF;
  padding: 0 2em;
}

.app-icon {
  color: inherit;
}

.app-icon:before {
  content: 'b';
  font-family: 'fontastic';
  display: inline-block;
  font-size: 2.5em;
  padding-right: 0.5rem;
  vertical-align: middle;
  transform: rotate(-10deg);
}

/*------------------------------------*\
    #MY-TASK
\*------------------------------------*/

.my-head {
  @include span-columns(5);
  @include omega();
  font-weight: $light;
  @include shift(.75);
  @include pad(.5em);
  background-color: $alt-bg-color;
}
.add-button {
  float: right;
  padding: 0;
  margin-right: .5em;
  background-color: $alt-bg-color;
  color: $type-dark;
  font-weight: $light;

}

.remove-task-btn {
  float: right;
  padding: 0;
  margin-right: .5em;
  background-color: $input-border-color;
  color: $type-dark;
  font-weight: $light;

}

.task-info {
  background-color: $input-border-color;
  @include pad();
  font-size: 16pt;
}

.task-status {
  padding-top: 1em;
  @include shift(2);
  color: white
}

.stat-button {
  @include pad();
  @include shift(1);
  font-family: $font1;
  font-size: 10pt;
  float: none;
  background-color: $type-light;
  color: $type-dark;
  font-weight: $light;
  margin-top: .5em;
}
