<div classs="container">
  <div class="info-holder">

    <div class="my-head">
      <h2>My Tasks<button class="add-button" ng-click="vm.addTaskPage()">+</button></h2>
      <ul>
        <li class="task-item" ng-repeat="task in vm.tasks">

          <div class="task-info">
            <span class="task-name">{{task.name}}</span>
            <!-- <span class="task-description">{{task.description}}</span> -->
            <span class="task-date-due">{{task.date_due}}</span>
            <button class="remove-task-btn" ng-click="vm.removeTask(task.id)">X</button>

        <div class ="task-status">
          <button ng-click="vm.changeStatus(task.id)">To Do</button>
          <button ng-click="vm.changeStatus(task.id)">Doing</button>
          <button ng-click="vm.changeStatus(task.id)">Done</button>
        </div>
      </div>

        </li>
      </ul>


    </div>
    <!-- dummy placeholder for group tasks, you can comment it out -->
    <div class="my-head">
      <h2>Group Tasks<button class="add-button" ng-click="vm.addTaskPage()">+</button></h2>

      <ul>
        <li class="task-item" ng-repeat="task in vm.tasks">

          <div class="task-info">
            <span class="task-name">{{task.name}}</span>
            <!-- <span class="task-description">{{task.description}}</span> -->
            <span class="task-date-due">{{task.date_due}}</span>
            <button class="remove-task-btn" ng-click="vm.removeTask(task.id)">X</button>

        <div class ="task-status">
          <button ng-click="vm.changeStatus(task.id)">To Do</button>
          <button ng-click="vm.changeStatus(task.id)">Doing</button>
          <button ng-click="vm.changeStatus(task.id)">Done</button>
        </div>
      </div>

        </li>
      </ul>


    </div>
  </div>
  </li>
</ul>

<button class="log-out-btn" ng-click="vm.logoutUser()">Log Out</button>
</div>
